@model User



<section class="book_section layout_padding text-center">
    <div class="container">
        <h1 style="color: #ffc107;">
            Gider takip uygulamasına hoş geldiniz!
        </h1>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mb-3" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                <strong>@ViewBag.SuccessMessage</strong>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form_container">
                    <form id="registrationForm" method="post" action="/home/Kayit" autocomplete="off">
                        <div>
                            <input type="text" name="NickName" class="form-control" placeholder="NickName" />
                        </div>
                        <div>
                            <input type="text" name="Name" class="form-control" placeholder="İsim Soyisim" />
                        </div>
                        <div>
                            <input type="password" name="Password" class="form-control" placeholder="Şifre" />
                        </div>
                        <div>
                            <input type="password" name="PassRepeat" class="form-control" placeholder="Şifre Tekrarı" />
                        </div>
                        <div>
                            <input type="email" name="Email" class="form-control" placeholder="Mail" />
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="btn btn-primary">
                                Kayıt Ol
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


